
 
<%= form_with(model: @promotion, local: true) do |form| %>
 
 <% if @promotion.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@promotion.errors.count, "error") %> prohibited
        this record from being saved:
      </h2>
      <ul>
        <% @promotion.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if notice %>
  <p><%= notice %></p>
<% end %>
  <div class="form-group">
    <%= form.label :type_promotion %><br>
    <%= form.text_field :type_promotion %>
  </div>
 
  <div class="form-group">
    <%= form.label :cost_promotion %><br>
    <%= form.text_field :cost_promotion %>
  </div>
 <div class="form-group">
    <%= form.label :date_promotion %><br>
    <%= form.date_field :date_promotion %>
  </div>
  
    <%= form.submit :class => "btn btn-lg btn-info btn-block"%>
  
 
<% end %>
 
<%= link_to 'Home', promotions_path %>

