<h1>Listing Promotions</h1>
 <%= link_to 'New promotion', new_promotion_path %>
  
<table>
  <tr>
    <th>Promotion Type</th>
    <th>Total Cost Promotion</th>
    <th>Date of Promotion</th>
  </tr>
 
  <% @promotions.each do |promotion| %>
    <tr>
      <td><%= promotion.type_promotion %></td>
      <td><%= number_to_currency(promotion.cost_promotion) %></td>
      <td><%= promotion.date_promotion%>
      <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
      <td><%= link_to 'Destroy', promotion_path(promotion),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Back to list of Customers', :back %>
<%= link_to 'Assign new Promotion to previous Customer', address_book_apromotions_path(address)%>
