<h3>Listing Promotions</h3>
 <%= link_to 'New promotion', new_promotion_path %>
  
<table class="table">
  <tr>
    <th>Promotion Type</th>
    <th>Total Cost Promotion</th>
    <th>Date of Promotion</th>
    <%if params[:format] != "0"%>
    <th>Edit</th>
    <th>Delete</th>
    <%# if comming from one customer or index view%> 
    
      <th>Assigned to:<br>
      <%= AddressBook.find(params[:format]).fullname %></th>
    <%end%>
  </tr>
  
  <% @promotions.each do |promotion| %>
    <tr>
      <td><%= promotion.type_promotion %></td>
      <td><%= number_to_currency(promotion.cost_promotion) %></td>
      <td><%= promotion.date_promotion%>
      <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
      <td><%= link_to 'Destroy', promotion_path(promotion),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
              
              <%# if comming from one customer %>
    
      <%if params[:format] != "0"%>
          <%@valid = Apromotion.where(address_book_id: params[:format], promotion_id: promotion.id).exists? %>
          <%apromotion = Apromotion.where(address_book_id: params[:format], promotion_id: promotion.id).ids %>
          <td><%if @valid ==  true%>
                <%=check_box_tag("ok_answer", value = "1", checked = true, options = {})%>
              <%else%>
                <%=check_box_tag("ok_answer", value = "", checked = false, options = {})%>
            <%end%>
             <%= link_to "Assign", address_book_apromotions_path(address_book_id: params[:format], promotion_id: promotion.id, type_promotion: promotion.type_promotion, apromotion: apromotion), method: :post  %>
             <%= link_to "Remove", address_book_apromotion_path(id: apromotion, address_book_id: params[:format]), method: :delete %></td> 
        
        <%else%>
        <%# if comming from customer list %>
        <td><%= link_to 'Assignments', promotion_path(promotion) %></td>   
        
      <% end %>
      
  <% end %>
  </tr>
</table>
      
      
   

<%= link_to 'Home', address_books_path  %>

