
 
<%= form_with model: [@address_book,@network], local: true do |form| %>
 
 <% if @network.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@network.errors.count, "error") %> prohibited
        this record from being saved:
      </h2>
      <ul>
        <% @network.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% if notice %>
  <p><%= notice %></p>
<% end %>
  <div class="form-group">
    <%= form.label :kind_relationship %><br>
    <%= form.select(:kind_relationship,['Partner','Children','Parents','Sibligs','Friend'], :include_blank => "Network Type" ) %>
  </div>
 
  <div class="form-group">
    <%= form.label :reference_name %><br>
    <%= form.text_field :reference_name %>
  </div>
 <div class="form-group">
    <%= form.label :anniversary %><br>
    <%= form.date_field :anniversary %>
    
    
  </div>
  <div class="form-group">
    <%= form.label :email_phone %><br>
    <%= form.text_field :email_phone %>
  </div>
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', address_book_networks_path %>

