
<div id="main-container" class="container">
    <div class="row">
        <div class="col-md-9">
          <h3>Listing Customers</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
          <%= link_to 'New Customer', new_address_book_path %>
        </div>
        <div class="col-xs-3" >
          <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Setup
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      
                      <%= link_to 'Promotions', promotions_path%><br>
                      <%= link_to 'Remainders', reminders_path%><br>
                      <%= link_to 'Status', statuses_path%> 
                      
                    </div>
            </div>
        </div>
        <div class="col-xs-6">
                <%=  form_tag address_books_path, method: :get do %>
                <%= text_field_tag :search_term, params[:search_term], :placeholder => 'Type a search here' %>
                <%= submit_tag "Search", name: nil, :class => "btn btn-primary btn-sm" %>
          
                  <% end %>
        </div>
</div>
    <div class="row">
        <div class="col-md-12">
          <%= '.' %>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
          <%= '' %>
        </div>
    </div>
</div>     
      
      


 
<%# <%= link_to 'All Promotions', promotions_path(format: "0") %></td> 


  
<table class="table">
  <tr>
    
    <th><%= sort_link "fullname"%></th>
    <th><%= sort_link "address"%></th>
    <th><%= sort_link "city" %></th>
      <th> Type </th>
      <th> Phone</th>
      <th><%= sort_link "anniversary"%></th>
      <th><%= sort_link "status"%> </th>
      <th><%= sort_link "category"%></th>
  </tr>
 
  <% @address_books.each do |address| %>
    <tr>
      
      <td><%= link_to address.fullname,  address_book_networks_path(address)%></td>
      <td><%= link_to address.address, address_book_addresslogs_path(address)%></td>
      <td><%= address.city%></td>
      <td><%= address.phonetype%></td>
      <td><%= number_to_phone(address.phone, area_code: true) %></td>
      
      <td><%= address.date_anniversary%>
       <td><%= address.status%></td>
      <td><%= address.category%></td>
      <td><%= link_to 'Details', address_book_path(address) %></td>
      <td><%= link_to 'Edit', edit_address_book_path(address) %></td>
      <td><%= link_to 'Promotions', promotions_path(address) %></td>
      <td><%= link_to 'Destroy', address_book_path(address),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<div id="container" class="container">
      <div class="row">
      <div class="col-md-3">
          
        </div>
        <div class="col-md-9">
          <%= page_entries_info @address_books %> 
        </div>
      </div>
      <div class="row">
      <div class="col-md-4">
          
        </div>
        <div class="col-md-7">
          <%= paginate @address_books %> 
        </div>
      </div>
</div>
