<h1>Listing Customers</h1>
 <%= link_to 'New Customer', new_address_book_path %>
  
<table>
  <tr>
    <th>Customer_Type</th>
    <th>Name</th>
    <th> Address</th>
      <th> email</th>
      <th> phone</th>
      <th> Anniversary</th>
      <th> Category</th>
  </tr>
 
  <% @address_books.each do |address| %>
    <tr>
      <td><%= address.customer_type %></td>
      
      <td><%= address.fullname%></td>
      <td><%= address.address%></td>
      <td><%= address.email%></td>
      <td><%= address.phonetype%></td>
      <td><%= address.phone%></td>
      <td><%= address.anniversary%></td>
      <td><%= address.category%></td>
      <td><%= link_to 'Edit', edit_address_book_path(address) %></td>
      <td><%= link_to 'Destroy', address_book_path(address),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>