
 
<%= form_with(model: @reminder, local: true) do |form| %>
 <%= render 'shared/error_message'%>
 
  <p>
    <%= form.label :close_type %><br>
    <%= form.text_field :close_type %>
  </p>
 
  <p>
    <%= form.label :periods_remind %><br>
    <%= form.text_area :periods_remind %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>
 
<%= link_to 'Back', reminders_path %>

