<h4 class='h3 mb-3 font-weight-normal text-center mt-5'>Listing Reminders</h4>
 <%= link_to 'New Reminder', new_reminder_path %>
  
<table class="table">
  <tr>
    <th>Close Type</th>
    <th>Periods for reminder</th>
    <th></th>
  </tr>
 
  <% @reminders.each do |reminder| %>
    <tr>
      <td><%= reminder.close_type %></td>
      <td><%= reminder.periods_remind %></td>
      <td><%= link_to 'Edit', edit_reminder_path(reminder) %></td>
      <td><%= link_to 'Destroy', reminder_path(reminder),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Home', address_books_path  %>