<h1>Listing Statuses</h1>
 <%= link_to 'New Status', new_status_path %>
  
<table class="table">
  <tr>
    <th>Kind of Customer</th>
    <th>Description</th>
    <th>Alarm Requiered?</th>
  </tr>
 
  <% @statuses.each do |status| %>
    <tr>
      <td><%= status.kind_customer %></td>
      <td><%= status.description %></td>
      <td><%= status.alarm_calendar %></td>
      <td><%= link_to 'Edit', edit_status_path(status) %></td>
      <td><%= link_to 'Destroy', status_path(status),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>