<h1>Listing Promotions Assigned to:</h1>
 <%= AddressBook.find(params[:address_book_id]).fullname %></h1>
  <%= link_to 'New promotion', new_promotion_path %>
<table>
  <tr>
    <th>Type of Promotion</th>
    <th>Assigned Date</th>
    <th> Unit Cost</th>
    <th>Status</th>
  </tr>
 
  <% @apromotions.each do |addressp| %>
    <tr>
      <td><%= addressp.type_promotion %></td>
      
      <td><%= addressp.assigned_date%></td>
      <td><%= addressp.unit_cost%></td>
      <td><%= addressp.active%></td>
      <td><%= link_to 'Destroy', address_book_apromotion_path(address),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td> %>
      
    </tr>
  <% end %>
</table>
<%# table for new assigment %>
<%%>
<%= link_to 'Back', address_books_path %>